#data-container {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border: 1px solid red;
    background-color: var(--background-dark);
    padding: 1rem;
}

@media(max-width: 768px) {
    #data-container {
        padding: 0;
        padding-bottom: 1rem;
    }
    .data-row h3 {
        font-size: 0.7rem;
    }
}

.imdb-link a {
    color: var(--text-color-inverted-lighter);
    text-decoration: none;
}

.imdb-link a:hover {
    color: var(--text-color-inverted-darker);
}

.data-row {
    height: 100%;
    padding: 0 1rem;
}

.data-row h3 {
    color: var(--text-color-inverted);
    text-align: center;
}

.data-row h3 strong {
    font-weight: 700;
    color: var(--text-color-inverted-darker);
    text-align: left;
}