#login-container {
    height: 100%;
    width: 100%;
    background-color: var(--color-lighter);
    padding: 1rem;
    text-align: center;
}

.login-form {
    max-width: 400px;
    margin: 1rem auto;
    min-height: 500px;
    background-color: var(--color-light);
    border-radius: 20% 0 20% 0;
    padding: 1rem 0;
}

.welcome-header {
    padding-top: 1rem;
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--bg-color-darker);
}

.login-form input {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    width: 80%;
    border: none;
    border-bottom: 3px solid var(--bg-color-darker);
    border-radius: 10px 10px 0 0;
}

.btn-login {
    background-color: var(--bg-color-dark);
    color: #fff;
    font-weight: 800;
    border: none;
    width: 80%;
    margin: 0 auto;
}

.btn-login:hover {
    background-color: var(--bg-color-darker);
    color: #f3f3f3
}

.text-primary {
    color: #1A5276;
}