* {
    padding: 0;
    margin: 0;
}

#overview-container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

#main-data {
    padding: 1rem;
}

@media(max-width: 768px) {
    #overview-container {
        margin: 0;
        padding: 0;
        margin-top: 20px;
    }
    #main-data {
        margin-bottom: 20px;
    }
}

.overview-name {
    color: var(--text-color-inverted);
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

@media(max-width: 800px) {
    .overview-name {
        font-size: 1.3rem;
    }
}

.overview-poster {
    height: 500px;
    width: auto;
    max-width: 340px;
}

.overview-poster:hover {
    border: 3px solid var(--highlight);
    max-height: 520px;
}

.overview-description {
    padding-top: 1rem;
    color: var(--text-color-inverted-lighter);
    margin-bottom: 1rem;
}

.homepage-btn {
    text-decoration: none;
    background-color: var(--background-darker);
    padding: 0.5rem;
    color: var(--text-color-inverted-lighter);
}

.homepage-btn:hover {
    color: var(--text-color-inverted-darker);
    background-color: rgba(0, 0, 0, 0.9);
}