<div id="overview-container" *ngIf="details$ | async as details">
    <div class="clr-row">
        <div id="main-data" class="clr-col-12 clr-col-md-6">
            <h3 class="overview-name">{{details.name}}</h3>
            <h5 class="overview-description">{{details.overview}}</h5>

            <a class="homepage-btn" [href]="details.homepage">GO TO HOMEPAGE</a>
            <app-data-table [details]="details"></app-data-table>

            <app-persons-list [details]="details"></app-persons-list>
        </div>
        <div id="secondary-data" class="clr-col-12 clr-col-md-6">
            <img class="overview-poster" [src]="posterPath$ | async" alt="" appImageFallBack>
        </div>
    </div>
</div>