<header class="header-6">
    <div class="branding">
        <a [routerLink]="['/home']" class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Project Clarity</span>
        </a>
    </div>
    <app-search-bar></app-search-bar>
    <div class="header-actions">
        <a [routerLink]="['/login']" class="nav-link nav-text" [ngClass]="{'nav-link nav-text' : true}" *ngIf="!isAuthenticated()">
          Log In
      </a>
        <a [routerLink]="['/register']" [ngClass]="{'nav-link nav-text' : true}" *ngIf="!isAuthenticated()">
          Register
      </a>
        <a [routerLink]="['/']" routerLinkActive="router-link-active" (click)="logout()" [ngClass]="{'nav-link nav-text' : true}" *ngIf="isAuthenticated()">
          Log Out
      </a>
    </div>
</header>