.main-header {
    background-color: var(--background)
}

.clr-nav-level-1 {
    background-color: var(--background)ortant;
}

.brand-title {
    font-weight: 800;
    color: var(--highlight-lighter);
}

.brand-title:hover {
    color: var(--highlight-darker);
}

clr-icon[shape=video-camera] {
    background-color: var(--background);
}

clr-icon[shape=color-picker] {
    background-color: var(--background);
}

.branding a {
    color: var(--text-color-normal);
}

.branding a:hover {
    color: var(--text-color-darker);
}

.header-actions a {
    color: var(--text-color-normal);
    font-size: 1.1rem;
}

.header-actions a:hover {
    cursor: pointer;
    color: var(--text-color-darker);
}

.navigation-btn:hover {
    color: var(--highlight-lighter);
}

clr-icon[shape=color-picker] {
    width: 1rem;
    height: 1rem;
    margin-top: 0.75rem;
}

@media(max-width: 320px) {
    a .navigation-link {
        font-size: 0.5rem;
    }
    .header-actions a {
        font-size: 0.7rem;
        padding: 0.75rem 0.25rem;
    }
    .header-actions {
        justify-content: flex-start;
    }
    .branding {
        padding: 0 0.25rem;
    }
}

@media(min-width: 321px) and (max-width:375px) {
    .header-actions {
        justify-content: flex-start;
    }
    .header-actions a {
        font-size: 0.7rem;
        padding: 0.75rem 0.5rem;
    }
}

@media(min-width: 376px) and (max-width: 425px) {
    .header-actions a {
        font-size: 0.75rem;
    }
}

@media(min-width: 426px) and (max-width: 768px) {
    .header-actions {
        margin-right: 1rem;
    }
    .header-actions a {
        font-size: 0.85rem;
    }
}

@media(min-width: 769px) {
    .header-actions {
        margin-right: 1rem;
    }
    .header-actions a {
        font-size: 1rem;
    }
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}