.main-header {
    background-color: var(--background-dark);
}

.clr-nav-level-1 {
    background-color: var(--background-dark) !important;
}

.title {
    font-weight: 800 !important;
    color: var(--text-color-highlight) !important;
}

clr-icon[shape=vm-bug] {
    background-color: var(--background-dark) !important;
}

.branding a {
    color: var(--text-color-inverted);
}

.branding a:hover {
    color: var(--text-color-inverted-darker);
}

.header-actions a {
    color: var(--text-color-inverted);
    font-size: 1.1rem;
}

.header-actions a:hover {
    cursor: pointer;
    color: var(--text-color-inverted-darker);
}