<header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Project Clarity</span>
        </a>
    </div>
    <div class="header-actions">
        <a [routerLink]="['/login']" class="nav-link nav-text">
          Log In
      </a>
        <a [routerLink]="['/register']" class="nav-link nav-text">
          Register
      </a>
        <a [routerLink]="['/logout']" class="nav-link nav-text">
          Log Out
      </a>
    </div>
</header>