<clr-header class="header-3 main-header">
    <div class="branding">
        <a [routerLink]="['/home']" class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">MatMal</span>
        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a [routerLink]="['/search']" routerLinkActive="router-link-active" class="active nav-link nav-text ">SEARCH</a>
    </div>
    <div class="header-actions">
        <a [routerLink]="['/login']" class="nav-link nav-text" [ngClass]="{'nav-link nav-text' : true}" *ngIf="!isAuthenticated()">
      Log In
  </a>
        <a [routerLink]="['/register']" [ngClass]="{'nav-link nav-text' : true}" *ngIf="!isAuthenticated()">
      Register
  </a>
        <a (click)="logout()" [ngClass]="{'nav-link nav-text' : true}" *ngIf="isAuthenticated()">
      Log Out
  </a>
    </div>
</clr-header>