.main-header {
    background-color: var(--background)
}

.clr-nav-level-1 {
    background-color: var(--background)ortant;
}

.brand-title {
    font-weight: 800;
    color: var(--highlight-lighter);
}

.brand-title:hover {
    color: var(--highlight-darker);
}

clr-icon[shape=video-camera] {
    background-color: var(--background);
}

clr-icon[shape=color-picker] {
    background-color: var(--background);
    margin-top: 0.5rem;
}

.branding a {
    color: var(--text-color-normal);
}

.branding a:hover {
    color: var(--text-color-darker);
}

.header-actions a {
    color: var(--text-color-normal);
    font-size: 1.1rem;
}

.header-actions a:hover {
    cursor: pointer;
    color: var(--text-color-darker);
}

.navigation-btn:hover {
    color: var(--highlight-lighter);
}