<div class="data-container" *ngIf="currentPage$ | async as currentPage">
    <div class="clr-row">
        <div id="menu-container" class="clr-col-12">
            <ul class="menu list-unstyled">
                <li (click)="switchPage('overview')" [ngClass]="{active: currentPage === 'overview'}">OVERVIEW</li>
                <li (click)="switchPage('episodes')" [ngClass]="{active: currentPage === 'episodes'}">EPISODES</li>
                <li (click)="switchPage('recommendations')" [ngClass]="{active: currentPage === 'recommendations'}">Recommendations</li>
                <!-- <li (click)="switchPage('details')" [ngClass]="{active: currentPage === 'details'}">DETAILS</li> -->
            </ul>
        </div>
        <div id="info-container" class="clr-col-12">
            <app-overview *ngIf="currentPage === 'overview'"></app-overview>
            <app-details [details]="details$ | async" *ngIf="currentPage === 'details'"></app-details>
            <app-recommendations [details]="details$ | async" *ngIf="currentPage === 'recommendations'"></app-recommendations>
            <app-episodes [details]="details$ | async" *ngIf="currentPage === 'episodes'"></app-episodes>
        </div>
    </div>
</div>