.content-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.content-container .clr-row {
    margin: 0;
}

.content-row {
    width: 100%;
}

.persons-row {
    margin: 0 2rem;
}

.persons-heading {
    text-align: center;
}