@media only screen and (max-width: 768px) {
    .container {
        margin: 0 5%;
        padding-top: 20px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1250px) {
    .container {
        margin: 0 2%;
        padding-top: 20px;
    }
}

@media only screen and (min-width: 1251px) and (max-width: 1400px) {
    .container {
        margin: 0 5%;
        padding-top: 20px;
    }
}

@media only screen and (min-width: 1401px) {
    .container {
        margin: 0 5%;
        padding-top: 20px;
    }
}