<div id="episode-container" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
    <div class="img-container">
        <img class="episode-img" [src]="getImagePath(episode.still_path)" alt="" appImageFallBack>
    </div>
    <div class="episode-details" *ngIf="ifHovered" [routerLink]="['/', episode.show_id, 'season', episode.season_number, 'episode', episode.episode_number ]" routerLinkActive="router-link-active">
        <div class="clr-row">
            <div class="clr-col-10 episode-name">
                {{episode.name.substr(0, 19)}}...
            </div>
            <div class="clr-col-2">
                <clr-icon shape="details" class="is-solid details-icon" size="48"></clr-icon>
            </div>
        </div>
    </div>
</div>