.item-container {
    height: 200px;
    max-width: 1000px;
    background-color: var(--background);
    color: var(--text-color-normal);
    margin: 1rem auto;
}

.result-row {
    height: 100%;
    width: 100%;
}

.poster-result {
    width: 133px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.title-heading {
    color: inherit;
    text-align: center;
}

.show-overview {
    color: var(--text-color-darker);
    text-align: center;
    padding: 0 0.25rem;
}

.details-btn {
    flex-flow: column-reverse;
    display: block;
    width: 60%;
    text-decoration: none;
    background-color: var(--background-color-inverted);
    color: var(--text-color-normal);
    padding: 0.25rem 0.5rem;
    text-align: center;
    margin: 0 auto;
}

.details-btn:hover {
    background-color: var(--background-color-inverted-darker);
    color: var(--text-color-lighter);
}

@media(min-width: 768px) {
    .details-btn {
        margin: 1rem auto;
        width: 40%;
    }
}