<div class="introduction">
    <span class="title">{{details.name}}</span><br> Episode List
</div>

<select id="season-select" (change)="getEpisodes($event.target.value)">
        <option class="select-option" *ngFor="let season of details.seasons" value="{{season.season_number}}">{{season.name}}</option>
    </select>


<div id="episodes-container" *ngIf="season$ | async as season">
    <div class="clr-row">
        <app-episode-item *ngFor="let episode of season.episodes" class="clr-col-12 clr-col-sm-6 clr-col-md-6 clr-col-lg-4" [episode]="episode"></app-episode-item>
    </div>
</div>