<div id="login-container">
    <div class="login-form">
        <h2 class="welcome-header">Welcome</h2>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <input class="form-input" id="email" formControlName="email" type="email" placeholder="Email">
            <input class="form-input" id="password" formControlName="password" type="password" placeholder="Password">
            <button type="submit" class="btn btn-login">Register</button>
            <p>Already have an account? <span class="text-primary"> <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a></span></p>
        </form>

    </div>
</div>