.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    padding: 1rem;
}

h1 {
    margin: 0;
}

.show-title {
    color: var(--text-color-darker);
    font-size: 0.85rem;
}

.episode-title {
    color: var(--text-color-lighter);
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
}

clr-icon {
    color: var(--highlight);
}

.episode-heading {
    margin: 0;
    padding: 0;
}

.heading-container {
    padding: 1rem;
    background-color: var(--background-lighter);
}

.rating {
    text-align: right;
}

.rating-icon {
    font-size: 1.2rem;
}

.vote-count {
    color: var(--text-color-normal);
    font-size: 1rem;
}

.heading-details {
    color: var(--text-color-darker);
}

.details-container {
    min-height: 150px;
    width: 100%;
    background-color: var(--background-lighter);
    padding: 0.5rem 1rem;
}

.details-container h5 {
    color: var(--text-color-normal);
    margin: 0;
}

.details-container h5 strong {
    color: var(--text-color-lighter);
}

@media(max-width: 425px) {
    .container {
        padding: 0.4rem;
    }
    .heading-container {
        padding: 0.4rem;
    }
    .episode-title {
        font-size: 1.25rem;
        line-height: 1.4rem;
    }
    .rating {
        text-align: left;
    }
    .details-container h5 {
        padding-top: 0.25rem;
    }
}

.button-leaver {
    border: none;
    cursor: pointer;
    color: var(--text-color-normal);
    background-color: var(--background-lighter);
    margin: 1rem auto;
    padding: 0.25rem 1rem;
}

.button-leaver clr-icon {
    width: 1.2rem;
    height: 1.2rem;
    text-align: left;
    margin-right: 0.25rem;
}