#item-container {
    width: 100%;
    border: 1px solid white;
    min-height: 150px;
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
}

.item-menu {
    width: 100%;
    position: absolute;
    bottom: 0;
    min-height: 50px;
    background-color: var(--highlight-darker);
    color: var(--text-color-lighter);
}

.btn {
    background-color: rgba(0, 0, 0, 0);
    color: var(--highlight);
    border: none;
    margin: 0;
    padding: 0;
}

.btn:hover {
    cursor: pointer;
}

.btn clr-icon {
    width: 1rem;
    height: 1rem;
}