#content {
    height: calc(100vh - 60px);
    color: #fff;
}

.image-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.show-title {
    font-size: 3rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    color: #fff;
    line-height: 2.5rem;
}

@media( min-width: 800px) {
    .show-title {
        font-size: 4rem;
        line-height: 5rem;
    }
}