.image-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.show-title {
    font-size: 3rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    color: #fff;
    line-height: 2.5rem;
}

@media( min-width: 800px) {
    .image-container {
        height: 100vh;
    }
    .show-title {
        font-size: 4rem;
        line-height: 5rem;
    }
}



